{% extends 'base.html.twig' %}


{% block title %}Hello MascotaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>



<div class="example-wrapper">
    <h1>Hello MascotaController! ✅</h1>

    <form action="" method="post">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la mascota: </label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{mascota.nombre}}">
        </div>

        <div class="mb-3">
            <label for="fechaNaci">Fecha de nacimiento: </label>
            <input type="date" class="form-control" id="fechaNaci" name="fechaNaci"
                value="{{mascota.fecha_nacimiento|date('Y-m-d')}}">
        </div>

        <div class="mb-3">
            <label for="peso">Peso: </label>
            <input type="number" class="form-control" id="peso" name="peso" value="{{mascota.peso}}">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
</div>
{% endblock %}